{% extends 'base.html' %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}


<div class="jumbotron">
  <div style="margin-top: 1rem;" class="container">
    <h3>Enter your query:</h3>
    <form action="/news/" method="GET">
      <input type="text" name="query" size="30" value="{{query}}"> <input type="submit" value="Search">
      </form>
  </div>
</div>

<div class="container">
  {% for article in articles %}
  <div style="margin-bottom: 2rem;">
      <div class="modal-content">
        <div class="modal-header">
          <h1>{{ article.title }}</h1>
          <h4>By: {{ article.author }}</h4>
          <h4>Published: {{ article.date }}</h4>
          <!-- <h4>Url: {{ article.url }}</h4> -->  
        </div>
        
        <div class="modal-body">
          {% if article.true %}
            <h4 style="background-color:green"> This news article is likely to be real</h4>
          {% endif %}
          {% if article.fake %}
            <h4 style="background-color:red"> This news article is likely to be fake</h4>
          {% endif %}
          {% if article.not_sure %}
            <h4 style="background-color:yellow"> We are unsure about this news article. Please read it carefully.</h4>  
          {% endif %}
          <hr/>
          <p><b>Highlights: </b> {{article.highlight | safe}}</p>
          <hr/>
          <p><b>Description: </b> {{article.description | safe}}</p>
        </div>
        <div class="modal-footer">
          <p><a href="{{article.url}}" target="_blank" class="btn btn-primary">View Full Article</a></p>
        </div>
      </div>
  </div>
  {% endfor %}

  {% if articles|length != 0 %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        
        <li class="page-item {% if first_page %} disabled {% endif %}">
          <a class="page-link" {% if first_page == False %} href="?query={{query}}&page={{current_page|add:'-1'}}" {% endif %}>Previous</a>
        </li>
        
        {% for page in pages %}
          <li class="page-item {% if page == current_page %} active {% endif %}">
            <a class="page-link " href="?query={{query}}&page={{page}}">{{page}}</a>
          </li>
        {% endfor %}

        <li class="page-item {% if last_page %} disabled {% endif %}">
          <a class="page-link" {% if last_page  == False %} href="?query={{query}}&page={{current_page|add:'1'}}" {% endif %}>Next</a>
        </li>
        
      </ul>
    </nav>
  {% endif %}
</div> <!-- /container -->
{% endblock %}
